.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 90vw;
    max-width: 500px;
    padding: 36px;
    background-color: #fff
}

.popup__title {
    margin-bottom: 18px;
}
