{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Demo Project</title>

        <link rel="stylesheet" href="{% static 'build/demoproject/css/index.css' %}">
    </head>

    <body>
        <header class="header">
            <div class="header__content wrapper">
                <a href="/" class="open-page">
                    <h1 class="header__title">DemoProject</h1>
                </a>

                <nav class="nav">
                    <a href="/gallery" class="nav__link open-page">Gallery</a>
                    <a href="/video" class="nav__link open-page">Video</a>
                    <a href="#" class="nav__link open-popup">Popup</a>
                </nav>
            </div>
        </header>

        <div id="page-root" class="page"></div>

        <script src="{% static 'build/vendor/requirejs/require.js' %}"></script>
        <script src="{% static 'build/demoproject/js/require-config.js' %}"></script>
        <script src="{% static 'build/demoproject/js/index.js' %}"></script>
    </body>
</html>
